<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <target xsi:type="AsyncWrapper" name="asyncDatabase" overflowAction="Discard" timeToSleepBetweenBatches="0">
      <target name="database"
              xsi:type="Database"
              connectionString="${configsetting:name=ConnectionStrings.DB_NARUTO}"
              commandText="insert into ApiLogs (Date,Thread,Level,Logger,Message,Exception,Hostname) values (@log_date, @thread, @log_level, @logger, @message, @exception, @hostname)">
        <parameter name="@log_date" layout="${date}" dbtype="Datetime" />
        <parameter name="@thread" layout="${threadid}" />
        <parameter name="@log_level" layout="${level}" />
        <parameter name="@logger" layout="${logger}" />
        <parameter name="@message" layout="${message}" />
        <parameter name="@exception" layout="${exception:format=toString,Data}" size="8000"/>
        <parameter name="@hostname" layout="${machinename}" />
      </target>
    </target>
  </targets>
  <rules>
    <logger name="*" minlevel="Debug" writeTo="database" final="true" />
  </rules>
</nlog>