.header {
    background-color: white;
    min-height: 20vh;
    display: flex;
    font-size: calc(20px + 2vmin);
    font-weight: 500;
}

.header .teste {
}

.content {
    padding: 10vh;
}

html,
body {
    background-color: red;
}

header {
    max-width: 1180px;
    padding: 0 30px;
    margin: 32px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.header a {
    width: 260px;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 20px;
}

header h1 {
    position: relative;
}

header button {
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #DCDCE6;
    background: transparent;
    margin-left: 16px;
    transition: border-dolor 0.5s;
}

h1 {
    margin-top: 80px;
    margin-bottom: 24px;
}

ul {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 24px;
    list-style: none;
    min-width: none;
}

ul li {
    background: #ffffff;
    padding: 24px;
    border-radius: 8px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

ul img {
    width: 80%;
    height: 80;
    border-radius: 50%;

}

ul li button {
    position: absolute;
    right: 24px;
    top: 24px;
    border: 0;
    background: transparent;
}

ul li button+button {
    top: 50px;
}

ul li button:hover {
    opacity: 0.8;
}

ul li #delete-button {
    padding-top: 30%;
}

ul li strong {
    display: block;
    margin-bottom: 16px;
    color: #41414D;
}

ul li p+strong {
    margin-top: 32px;
}

ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}